.custom-menu{
  display: flex;
  justify-content: space-between;
  width: 50rem;
  margin-top: 2.5rem;
}

.return-text{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #64748B;
  text-decoration: none;
  margin-left: 0.375rem;
}

.return-button{
  font-size: 20px;
  color: #64748B;
}

.certificate{
  margin-top: 2rem;
  background-image: url("../../../../public/certificate/Certificate_BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50rem;
  height: 34.375rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.conteudo-certificado{
  width: 45rem;
  height: 29.375rem;
  background-color: #fff;
  border-radius: 8px;

}

.medal-icon{
  position: absolute;
  top: 12px;
  left: 12px;
}
