.custom-buttom{
  background: linear-gradient(90deg,#1A2856, #334EA9 100%);
  padding: 12px auto;
  width: 38rem;
  height: 3rem;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.custom-buttom:hover{
  opacity: 90%;
}
